@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@font-face {
    font-family: lovelace;
    src: url(./fontes/Zetafonts\ -\ Lovelace\ Text\ Regular.otf);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: white;
}

html {
    height: 100%;
}

body {
    height: 80%;

}

header {
    position: fixed;
    width: 100%;
    height: 20vh;
    z-index: 1;
}

header img {
    height: 10vh;
    color: white;
}

main,
.content,
section {
    min-height: 85vh;
    /* padding: 0 0 50px 0; */
}

.navegacao {
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 2;
}

.navegacao ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navegacao li {
    transform: scale(2.0);
}

.navegacao li:hover {
    transform: scale(2.3);
}

.section-1 {
    height: 75vh;
    position: relative;
    background: linear-gradient(to right, #2B401D 0%, #2B401D 75%, #9ba561 75%, #9ba561 100%);
}

.content {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.informacoes {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.nome-titulo h1 {
    font-size: 60px;
    font-family: "Cinzel", serif;
}
.nome-titulo p {
    font-size: 20px;
    font-family: "Cinzel", serif;
}

.cursos {
    display: flex;
    gap: 15vw;
    font-family: "Cinzel", serif;
    font-size: 20px;
}

.img-day {
    position: absolute;
    width: 30vw;
    right: 9vw;
    bottom: 0;
    object-fit: contain;
}


.section-2 {
    position: relative;
    background-image: url('./imagens/textura_pag2.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    height: 75vh;
}

.section-2 h1 {
    text-align: center;
    padding-top: 15vh;
    font-size: 40px;
    font-family: "Cinzel", serif;
}

.section-2>img {
    object-fit: contain;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60vh;
    width: 20vw;
}

.projects-list {
    width: 1000px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    bottom: 20px;
}

.projects-list>li {
    font-size: "Cinzel", serif;
    width: 300px;
    height: 200px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects-list>li img {
    height: 25px;
}

.projects-list>li span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.technologies-list {
    display: flex;
    gap: 10px;

    list-style: none;
}

.technologies-list li {
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 15px;

    color: #000;
}



.section-3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    font-size: 20px;
    height: 75vh;
}

.section-3 h1 {
    text-align: center;
    padding-top: 15vh;
    font-size: 40px;
    font-family: "Cinzel", serif;
}

.sobre-mim {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-family: "Cinzel", serif;
    margin-inline: 30px;
}

.descrisao_libras {
    font-size: 15px;
    padding: 30px;
}

.libras img {
    height: 35vh;
    object-fit: contain;
}

.igreja {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-family: "Cinzel", serif;
    margin-inline: 100px;
}

.descrisao_midias{
    font-size: 15px;
    padding: 30px;
}

.midias img {
    height: 40vh;
    object-fit: contain;
}



.section-4 {
    background-image: url('./imagens/textura_pag4.png');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px
}

.section-4 h1 {
    padding-top: 15vh;
    font-size: 40px;
    font-family: "Cinzel", serif;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.formulario input {
    font-size: 15px;
    width: 400px;
    border-radius: 10px;
    border-width: 1px;
    height: 40px;
    font-family: "Cinzel", serif;
    color: black;
    border: none;
}

.formulario input::placeholder {
    color: black;
}

.botao {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    font-size: 20px;
    border-radius: 10px;
    height: 30px;
    padding: 15px;
    font-family: "Cinzel", serif;
    color: white;
    background-color: #2B401D;
    border: none;
}

.formulario .botao {
    color: white;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.rodape ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}

.rodape h3 {
    color: #2B401D;
    font-family: "Cinzel", serif;
    font-size: 15px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2B401D;
}


::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: linear-gradient(rgba(43, 64, 29, 1) 0%, rgba(101, 140, 73, 1) 50%, rgba(101, 140, 73, 1) 100%);
}


.cinzel {
    font-family: "Cinzel", serif;
}
@media screen and (min-width: 375px){
    .informacoes{
        width: 100%;
    }
    .nome-titulo h1 {
        font-size: 30px;
    }
    .nome-titulo p{
        font-size: 10px;
    }
    .cursos {
        flex-direction: column;
        font-size: 13px;
        gap: 3vw;
    }
    .section-2{
        height: max-content;
    }
    .section-2>img {
        display: none;
    }
    .section-2 h1{
        font-size: 30px;
        padding-top:20vh;
    }

    .projects-list {
        margin: 20px;
    }

    .section-3{
        height: 250vh;
    }

    .section-3 h1 {
        font-size: 30px;
        padding-top: 5vh;
    }
    .sobre-mim {
        flex-direction: column-reverse;
    }
    .libras img {
        height: 20vh;
    }
    .descrisao_libras{
        font-size: 13px;
    }
    .igreja {
        flex-direction: column;
        margin-inline: 15px;
    }
    .descrisao_midias{
        font-size: 13px;
    }
    .midias img{
        height: 25vh;
    }

    .section-4 h1{
        font-size: 30px;
        padding-top: 5vh;
    }

    .formulario input {
        width: 200px;
    }

}

@media screen and (min-width: 468px) {
    .informacoes{
        width: 100%;
    }
    .nome-titulo h1 {
        font-size: 40px;
    }
    .nome-titulo p{
        font-size: 13px;
    }
    .cursos {
        flex-direction: column;
        font-size: 13px;
        gap: 3vw;
    }
    
    .section-2>img {
        display: none;
    }
    
    .section-2 h1{
        font-size: 30px;
        padding-top: 15vh;
    }

    .projects-list {
        margin: auto;
    }
    
    .section-3{
        height: 100vh;
    }

    .section-3 h1 {
        font-size: 30px;
        padding-top: 15vh;
    }
    .sobre-mim {
        flex-direction: column-reverse;
    }
    .igreja {
        flex-direction: column;
        margin-inline: 30px;
    }
    .midias img{
        height: 30vh;
    }
    .libras img {
        height: 25vh;
    }
    .descrisao_libras{
        font-size: 13px;
    }
    .descrisao_midias{
        font-size: 13px;
    }

    .section-4 h1{
        font-size: 30px;
        padding-top: 10vh;
    }

    .formulario input {
        width: 300px;
    }

}

@media screen and (min-width: 768px) {
    .informacoes{
        width: 75vw;
    }
    .nome-titulo p{
        font-size: 15px;
    }
    .cursos {
        font-size: 15px;
        gap: 5vw;
        flex-direction: row;
    }
    .section-2{
        height: 100vh;
    }
    .section-2>img {
        display: none;
    }
    .section-3 h1 {
        padding-top: 5vh;
    }
    .descrisao_libras{
        font-size: 15px;
    }
    .descrisao_midias{
        font-size: 15px;
    }
    .sobre-mim {
        flex-direction: column-reverse;
    }
    .igreja {
        flex-direction: column;
    }
    .midias img{
        height: 25vh;
    }
    .libras img {
        height: 30vh;
    }

    .formulario input {
        width: 400px;
    }

}

@media screen and (min-width: 1024px) {
    .nome-titulo p{
        font-size: 15px;
    }
    .cursos {
        font-size: 15px;
    }
    .section-2>img {
        display: none;
    }
    .descrisao_libras{
        font-size: 20px;
    }
    .descrisao_midias{
        font-size: 20px;
    }
    .sobre-mim {
        flex-direction: row-reverse;
    }
    .igreja {
        flex-direction: row-reverse;
    }
    .midias img{
        height: 35vh;
    }
    .libras img {
        height: 40vh;
    }
}

/* @media screen and (min-width: 1200px) {
    .nome-titulo p{
        font-size: 15px;
    }
    .cursos {
        font-size: 15px;
    }
    .section-2>img {
        display: none;
    }
} */
@media screen and (min-width: 1600px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        color: white;
    }
    
    html {
        height: 100%;
    }
    
    body {
        height: 80%;
    
    }
    
    header {
        position: fixed;
        width: 100%;
        height: 20vh;
        z-index: 1;
    }
    
    header img {
        height: 10vh;
        color: white;
    }
    
    main,
    .content,
    section {
        min-height: 85vh;
        /* padding: 0 0 50px 0; */
    }
    
    .navegacao {
        position: fixed;
        right: 10px;
        top: 50%;
        z-index: 2;
    }
    
    .navegacao ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .navegacao li {
        transform: scale(2.0);
    }
    
    .navegacao li:hover {
        transform: scale(2.3);
    }
    
    .section-1 {
        height: 75vh;
        position: relative;
        background: linear-gradient(to right, #2B401D 0%, #2B401D 75%, #9ba561 75%, #9ba561 100%);
    }
    
    .content {
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .informacoes {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    }
    
    .nome-titulo h1 {
        font-size: 60px;
        font-family: "Cinzel", serif;
    }
    .nome-titulo p {
        font-size: 20px;
        font-family: "Cinzel", serif;
    }
    
    .cursos {
        display: flex;
        gap: 15vw;
        font-family: "Cinzel", serif;
        font-size: 20px;
    }
    
    .img-day {
        position: absolute;
        width: 30vw;
        right: 9vw;
        bottom: 0;
        object-fit: contain;
    }
    
    
    .section-2 {
        position: relative;
        background-image: url('./imagens/textura_pag2.png');
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        height: 75vh;
    }
    
    .section-2 h1 {
        text-align: center;
        padding-top: 15vh;
        font-size: 40px;
        font-family: "Cinzel", serif;
    }
    
    .section-2>img {
        display: flex;
        object-fit: contain;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 60vh;
        width: 20vw;
    }
    
    .projects-list {
        width: 1000px;
        max-width: 95%;
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        bottom: 20px;
    }
    
    .projects-list>li {
        font-size: "Cinzel", serif;
        width: 300px;
        height: 200px;
        padding: 20px;
        border: 2px solid #000;
        border-radius: 15px;
        background-color: rgb(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .projects-list>li img {
        height: 25px;
    }
    
    .projects-list>li span {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .technologies-list {
        display: flex;
        gap: 10px;
    
        list-style: none;
    }
    
    .technologies-list li {
        padding: 5px 15px;
        background-color: #fff;
        border-radius: 15px;
    
        color: #000;
    }
    
    
    
    .section-3 {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        font-size: 20px;
    }
    
    .section-3 h1 {
        text-align: center;
        padding-top: 15vh;
        font-size: 40px;
        font-family: "Cinzel", serif;
    }
    
    .sobre-mim {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        font-family: "Cinzel", serif;
        margin-inline: 30px;
    }
    
    .descrisao_libras {
        font-size: 20px;
        padding: 30px;
    }
    
    .libras img {
        height: 35vh;
        object-fit: contain;
    }
    
    .igreja {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        font-family: "Cinzel", serif;
        margin-inline: 100px;
    }
    
    .descrisao_midias{
        font-size: 20px;
        padding: 30px;
    }
    
    .midias img {
        height: 40vh;
        object-fit: contain;
    }
    
    
    
    .section-4 {
        background-image: url('./imagens/textura_pag4.png');
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px
    }
    
    .section-4 h1 {
        padding-top: 15vh;
        font-size: 40px;
        font-family: "Cinzel", serif;
    }
    
    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
    }
    
    .formulario input {
        font-size: 15px;
        width: 400px;
        border-radius: 10px;
        border-width: 1px;
        height: 40px;
        font-family: "Cinzel", serif;
        color: black;
        border: none;
    }
    
    .formulario input::placeholder {
        color: black;
    }
    
    .botao {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        font-size: 20px;
        border-radius: 10px;
        height: 30px;
        padding: 15px;
        font-family: "Cinzel", serif;
        color: white;
        background-color: #2B401D;
        border: none;
    }
    
    .formulario .botao {
        color: white;
    }
    
    .rodape {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    
    .rodape ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style-type: none;
    }
    
    .rodape h3 {
        color: #2B401D;
        font-family: "Cinzel", serif;
        font-size: 15px;
    }
    
    
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: #2B401D;
    }
    
    
    ::-webkit-scrollbar-thumb:hover {
        border-radius: 10px;
        background: linear-gradient(rgba(43, 64, 29, 1) 0%, rgba(101, 140, 73, 1) 50%, rgba(101, 140, 73, 1) 100%);
    }
    
    
    .cinzel {
        font-family: "Cinzel", serif;
    }
}