@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@font-face {
    font-family: lovelace;
    src: url(./fontes/Zetafonts\ -\ Lovelace\ Text\ Regular.otf);
}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: white;
}

html {
    height: 100%;
}

body{
    height: 80%;  

}

main, .content, section {
    height: 100%;   
}


.navegacao{
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 2;
}

.navegacao ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.navegacao li{
    transform: scale(2.0);
}

.navegacao li:hover{
    transform: scale(2.3);
}

.nome-titulo h1{
    font-size: 50px;
}

header{
    position: fixed;
    width: 100%;
    height: 20vh;
    z-index: 1;
}
header img{
    height: 10vh;
    color: white;
}

.content{
    position: relative;
    background-color: #2B401D;
    display: flex;
    justify-content: space-between;
}

.img-holder{
    background-color: #9DA65D;
    width: 60vh;
}

.img-day{
    position: absolute;
    width: 500px;
    right: 9vw;
    bottom: 0;
    object-fit: contain;
}

.informacoes{
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center;
}

.encher-linguica{
    display: flex;
    gap: 15vw;
}



.section-2{
    background-image: url('./imagens/textura pag2.png');
    scroll-behavior: smooth;
}



.cinzel {
    font-family: "Cinzel", serif;
}

.lovelace{
    font-family: lovelace;
}


::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
  background: #2B401D;
}


  ::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: linear-gradient(rgba(43,64,29,1) 0%, rgba(101,140,73,1) 50%, rgba(101,140,73,1) 100%);
  }